body{
    background-color: green;
}

.foto{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(luipaard.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.foto2{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(krokodil.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.foto3{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(tapir.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.foto4{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(gibbon.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.foto5{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(chimpanzee.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.foto6{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(orangutan.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.foto7{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(kikker.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.foto8{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(toeka.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.foto:hover{
    transform: translateY(-10px);
}
.foto2:hover{
    transform: translateY(-10px);
}
.foto3:hover{
    transform: translateY(-10px);
}
.foto4:hover{
    transform: translateY(-10px);
}

.foto5:hover{
    transform: translateY(-10px);
}

.foto6:hover{
    transform: translateY(-10px);
}

.foto7:hover{
    transform: translateY(-10px);
}

.foto8:hover{
    transform: translateY(-10px);
}


h5{
    color:white;
    text-shadow: 0 0 5px #999;
}

.foto4 p {
    color:white;
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}
.foto3 p {
    color:white;
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}
.foto2 p {
    color:white;
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}
.foto p {
    color:white;
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}

.col{
    flex-basis: 50%;
}

h1{
    color: green;
    font-size: 100px;
}

p{
    color: #000;
    font-size: 11px;
    line-height: 15px;
}

.border1{
    height:auto;
    width: auto;
    border:2px solid #000;
    padding:10px;
    background-color: #FFF;
    border-radius: 10px;
}
